@font-face {
    font-family: Sen;
    src: url(../fonts/static/Sen-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Sen;
    src: url(../fonts/static/Sen-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Sen;
    src: url(../fonts/static/Sen-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Sen;
    src: url(../fonts/static/Sen-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Sen;
    src: url(../fonts/static/Sen-ExtraBold.ttf);
    font-weight: 800;
}

* { 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Sen;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 3%;
    background-color: red;
}
img{
    display: block;
}
button {
    border: none;
    background-color: transparent;
}
input {
    outline: none;
    border: none;
}